In [12]:
import numpy as np

# DataTypes & Attributes

In [13]:
# Numpy's main datatype is ndarray
a1 = np.array([1, 2, 3])
a1

array([1, 2, 3])

In [14]:
type(a1)

numpy.ndarray

In [15]:
a2 = np.array([[1, 2.0, 3.3],
              [4, 5, 6.6]])
a3 = np.array([[[1, 2, 3],
               [4, 5, 6],
               [7, 8, 9]],
              [[10, 11, 12],
              [13, 14, 15],
              [16, 17, 18]]])
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.6]])

In [16]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [17]:
a1.shape

(3,)

In [18]:
a2.shape

(2, 3)

In [19]:
a3.shape

(2, 3, 3)

In [20]:
# Dimension of matrix
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [21]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [22]:
a1.size, a2.size, a3.size

(3, 6, 18)

In [23]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

# Creating a DataFrame from a Numpy array

In [24]:
import pandas as pd
df = pd.DataFrame(a2) # NOT Series!!! With DataFrame()!
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.6

# Creating arrays

In [25]:
sample_array = np.array([1, 2, 3])
sample_array

array([1, 2, 3])

In [26]:
sample_array.dtype

dtype('int32')

In [27]:
ones = np.ones((2, 3))
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [28]:
ones.dtype

dtype('float64')

In [29]:
type(ones)

numpy.ndarray

In [30]:
zeros = np.zeros((3, 3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [31]:
range_array = np.arange(0, 10, 2)
range_array

array([0, 2, 4, 6, 8])

In [32]:
random_array = np.random.randint(0, 10, size=(3, 5))
random_array

array([[6, 7, 9, 6, 9],
       [9, 0, 2, 3, 2],
       [8, 4, 8, 2, 7]])

In [33]:
random_array.size

15

In [34]:
random_array.shape

(3, 5)

In [35]:
random_array_2 = np.random.random((5, 3))
random_array_2

array([[0.63038338, 0.78707079, 0.86071748],
       [0.5734959 , 0.20145397, 0.19743135],
       [0.29953836, 0.3032872 , 0.99695671],
       [0.01099742, 0.18166413, 0.64562864],
       [0.85460836, 0.26113254, 0.48970842]])

In [36]:
random_array_2.shape

(5, 3)

In [37]:
random_array_3 = np.random.rand(5, 3)
random_array_3

array([[0.94236654, 0.01178169, 0.53043367],
       [0.54585564, 0.36150835, 0.3820054 ],
       [0.31453406, 0.61541318, 0.19117875],
       [0.98788442, 0.24229851, 0.3159731 ],
       [0.95710264, 0.73341562, 0.13408779]])

In [38]:
# Pseudo-random numbers
np.random.seed(7)
random_array_4 = np.random.random((3, 5))
random_array_4
# random.seed(int) function keeps the random numbers same.

array([[0.07630829, 0.77991879, 0.43840923, 0.72346518, 0.97798951],
       [0.53849587, 0.50112046, 0.07205113, 0.26843898, 0.4998825 ],
       [0.67923   , 0.80373904, 0.38094113, 0.06593635, 0.2881456 ]])

# Viewing arrays and matrices

In [39]:
np.unique(random_array)

array([0, 2, 3, 4, 6, 7, 8, 9])

In [40]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [41]:
a3[0]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [42]:
a3[0][1]

array([4, 5, 6])

In [43]:
a3[0][1][0]

4

In [44]:
a3[:2, :2, :2]

array([[[ 1,  2],
        [ 4,  5]],

       [[10, 11],
        [13, 14]]])

In [45]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [46]:
a3[:2, :1, :2]

array([[[ 1,  2]],

       [[10, 11]]])

In [47]:
np.random.seed(4)
a4 = np.random.randint(0, 2, size=(4, 3, 3))
a4

array([[[0, 0, 1],
        [1, 1, 0],
        [1, 0, 0]],

       [[1, 0, 0],
        [1, 1, 0],
        [1, 1, 1]],

       [[0, 0, 0],
        [0, 0, 0],
        [0, 0, 1]],

       [[0, 1, 1],
        [1, 1, 0],
        [1, 0, 0]]])

In [48]:
a4[:4,:1,:3] #every first line

array([[[0, 0, 1]],

       [[1, 0, 0]],

       [[0, 0, 0]],

       [[0, 1, 1]]])

In [49]:
a4[:4, :2, :3]

array([[[0, 0, 1],
        [1, 1, 0]],

       [[1, 0, 0],
        [1, 1, 0]],

       [[0, 0, 0],
        [0, 0, 0]],

       [[0, 1, 1],
        [1, 1, 0]]])

# Arithmetic Operations

In [50]:
np.random.seed(4)
x1 = np.random.randint(4, size=(1, 3))
np.random.seed(3)
x2 = np.random.randint(4, size=(1, 3))
np.random.seed(2)
diff = np.random.randint(4, size=(1, 4))
diff, x1, x2

(array([[0, 3, 1, 0]]), array([[2, 2, 3]]), array([[2, 0, 1]]))

In [51]:
x1 + x2

array([[4, 2, 4]])

In [52]:
x1-x2

array([[0, 2, 2]])

In [53]:
x1*x2

array([[4, 0, 3]])

In [54]:
x2/x1

array([[1.        , 0.        , 0.33333333]])

# Let's try with different shape of matrices

In [55]:
x1+diff

ValueError: operands could not be broadcast together with shapes (1,3) (1,4)

In [56]:
x2-diff

ValueError: operands could not be broadcast together with shapes (1,3) (1,4)

In [57]:
x2*diff

ValueError: operands could not be broadcast together with shapes (1,3) (1,4)

# :(

# Aggregation
Aggregation = performing the same operation on a number of things

In [58]:
list = [1, 2, 3, 4]
list

[1, 2, 3, 4]

In [59]:
sum(list)

10

In [60]:
type(list)

list

In [61]:
a1

array([1, 2, 3])

In [62]:
sum(a1)

6

In [63]:
np.sum(a1)

6

In [64]:
type(a1)

numpy.ndarray

Same right? We have to use `sum()` for Python datatypes and `np.sum()` for numpy datatypes. Let's see the difference.

In [65]:
massive = np.random.random(100000)
massive[:10]

array([0.54966248, 0.43532239, 0.4203678 , 0.33033482, 0.20464863,
       0.61927097, 0.29965467, 0.26682728, 0.62113383, 0.52914209])

In [66]:
%timeit sum(massive) #Python's sum()
%timeit np.sum(massive) #NumPy's np.sum()

10.8 ms ± 14.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
70.9 µs ± 42.5 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [67]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.6]])

In [68]:
np.max(a2)

6.6

In [69]:
np.mean(a2)

3.65

In [70]:
np.min(a2)

1.0

In [71]:
# Standart deviation = a measure of how spread out a group of member is from the mean
np.std(a2)

1.8490988796347985

In [72]:
# Variance = measure of the average degree to which each number is different to the main.
# High variance = wider range of numbers
# Lower varience = lower range of numbers
np.var(a2)

3.419166666666667

# Reshaping and Transposing

In [73]:
a2.shape

(2, 3)

In [74]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.6]])

In [75]:
a2.reshape(2, 3, 1)

array([[[1. ],
        [2. ],
        [3.3]],

       [[4. ],
        [5. ],
        [6.6]]])

In [76]:
a3.shape

(2, 3, 3)

In [77]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [78]:
a3.reshape(2, 3, 3, 1)

array([[[[ 1],
         [ 2],
         [ 3]],

        [[ 4],
         [ 5],
         [ 6]],

        [[ 7],
         [ 8],
         [ 9]]],


       [[[10],
         [11],
         [12]],

        [[13],
         [14],
         [15]],

        [[16],
         [17],
         [18]]]])

In [79]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.6]])

In [80]:
a2.shape

(2, 3)

In [81]:
# Trannspose switches the axis
a2.T

array([[1. , 4. ],
       [2. , 5. ],
       [3.3, 6.6]])

In [82]:
a2*a3

ValueError: operands could not be broadcast together with shapes (2,3) (2,3,3)

In [ ]:
# We weren't able to multiply a2 and a3 because of their shape. But now
# we can calculate them by reshaping the a2 matrix from (2,3) to (2,3,1)
a2.reshape(2, 3, 1)*a3

# Dot product and Element-wise

In [ ]:
# Element-wise is used for same shape of matrices like... 
# a pair of (2x2), (3x3). But dot product is used with different shape of
# matrices like (3x2) with (3x3)
np.random.seed(4)
mat1 = np.random.randint(10, size=(5,3))
mat2 = np.random.randint(10, size=(5,3))
mat1, mat2

In [ ]:
mat1.shape, mat2.shape

In [ ]:
mat1*mat2

In [ ]:
np.dot(mat1, mat2)

In [ ]:
mat1

In [ ]:
mat1.T

In [ ]:
mat1.T.shape

In [ ]:
mat2.shape

In [ ]:
mat1

In [ ]:
mat3 = np.dot(mat1.T, mat2)
mat3

In [ ]:
# Wow

In [ ]:
mat3.shape

# Dot product example(with gun sales)

In [164]:
np.random.seed(2)
# Number of guns sold
sales_amount = np.random.randint(15, size=(5, 4))
sales_amount

array([[ 8, 13,  8,  6],
       [11,  2, 11,  8],
       [ 7,  2,  1, 11],
       [ 5, 10,  4, 12],
       [ 4,  5,  7,  3]])

In [165]:
# Creating a weekly_sales DataFrame
weekly_sales = pd.DataFrame(sales_amount,
                            index=["Mon","Tue","Wed","Thu","Fri"],
                           columns=["Makarov", "Glock 33", "M1911", "Desert Eagle"])
weekly_sales

     Makarov  Glock 33  M1911  Desert Eagle
Mon        8        13      8             6
Tue       11         2     11             8
Wed        7         2      1            11
Thu        5        10      4            12
Fri        4         5      7             3

In [166]:
np.random.seed(3)
prices = np.array([150, 110, 120, 160])
price_sales = pd.DataFrame(prices.reshape(1, 4),
                            index=["Prices"],
                           columns=["Makarov", "Glock 33", "M1911", "Desert Eagle"])
price_sales

        Makarov  Glock 33  M1911  Desert Eagle
Prices      150       110    120           160

In [175]:
# We got error in the first that says, we connot use dot() with (1, 4), (5, 4). So we need to reshape
daily_sales = price_sales.dot(weekly_sales.reshape( ))
daily_sales

AttributeError: 'DataFrame' object has no attribute 'reshape'

In [172]:
weekly_sales

     Makarov  Glock 33  M1911  Desert Eagle
Mon        8        13      8             6
Tue       11         2     11             8
Wed        7         2      1            11
Thu        5        10      4            12
Fri        4         5      7             3